<a href="https://colab.research.google.com/github/ohsang14/school_python/blob/main/10%EC%9B%94_29%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    "2015": [9904312, 3448738, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ["서울", "부산", "인천", "대구"]
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df = pd.DataFrame(data, index=index, columns=columns)

print(df)

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448738  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [3]:
import pandas as pd

data = {
    "2015": [9904312, 3448738, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ["서울", "부산", "인천", "대구"]
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df = pd.DataFrame(data, index=index, columns=columns)

print(df.values)
print(df.columns)
print(df.index)

df.index.name, df.columns.name = "도시", "특성"
print(df)

[['수도권' 9904312 9631482 9762546 9853972 0.0283]
 ['경상권' 3448738 3393191 3512547 3655437 0.0163]
 ['수도권' 2890451 2632035 2517680 2466338 0.0982]
 ['경상권' 2466052 2431774 2456016 2473990 0.0141]]
Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')
Index(['서울', '부산', '인천', '대구'], dtype='object')
특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448738  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [4]:
import pandas as pd

# df.T : 데이터 프레임 데이터(2차원 배열)의 전치 행렬 반환


data = {
    "2015": [9904312, 3448738, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ["서울", "부산", "인천", "대구"]
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df = pd.DataFrame(data, index=index, columns=columns)

print(df.T)

                    서울       부산       인천       대구
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448738  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [5]:
import pandas as pd

data = {
    "2015": [9904312, 3448738, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ["서울", "부산", "인천", "대구"]
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df = pd.DataFrame(data, index=index, columns=columns)

print(df['지역'])
print("---------------------")
print(df[['2010', '2015']])

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object
---------------------
       2010     2015
서울  9631482  9904312
부산  3393191  3448738
인천  2632035  2890451
대구  2431774  2466052

In [6]:
import pandas as pd

data = {
    "2015": [9904312, 3448738, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ["서울", "부산", "인천", "대구"]
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df = pd.DataFrame(data, index=index, columns=columns)

print(df[1:3])
print("-----------------------------")
print(df["서울":"부산"])
print("-----------------------------")
print(df["2015"]["서울"], df["2015"][0])

     지역     2015     2010     2005     2000  2010-2015 증가율
부산  경상권  3448738  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
-----------------------------
     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448738  3393191  3512547  3655437         0.0163
-----------------------------
9904312 9904312

<ipython-input-6-412b691670d1>:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df["2015"]["서울"], df["2015"][0])

In [8]:
import numpy as np
import pandas as pd

data = {
    "2015": [9904312, 3448738, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ["서울", "부산", "인천", "대구"]
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

# df = pd.DataFrame(data, index=index, columns=columns)

df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=['r1', 'r2', 'r3'],
                  columns=['A', 'B', 'C', 'D'])

print(df);
print("-----------------")
print(df.loc['r2']);
print("-----------------")
print(df.loc['r2':'r3'])

     A   B   C   D
r1  10  11  12  13
r2  14  15  16  17
r3  18  19  20  21
-----------------
A    14
B    15
C    16
D    17
Name: r2, dtype: int64
-----------------
     A   B   C   D
r2  14  15  16  17
r3  18  19  20  21

In [10]:
import numpy as np
import pandas as pd


df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=['r1', 'r2', 'r3'],
                  columns=['A', 'B', 'C', 'D'])

print(df.loc[:,:]);
print("---------------")
print(df.loc["r2":"r3",'B'])
print("---------------")
print(df.loc["r2":"r3",'B':"C"])
print("---------------")
print(df.loc["r2",'B':"C"])
print("---------------")
print(df.loc["r2",'B'])
print("---------------")

     A   B   C   D
r1  10  11  12  13
r2  14  15  16  17
r3  18  19  20  21
---------------
r2    15
r3    19
Name: B, dtype: int64
---------------
     B   C
r2  15  16
r3  19  20
---------------
B    15
C    16
Name: r2, dtype: int64
---------------
15
---------------

In [11]:
import numpy as np
import pandas as pd


df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=['r1', 'r2', 'r3'],
                  columns=['A', 'B', 'C', 'D'])

print(df);  print("---------------")
print(df.loc[df.A>10, 'B']); print("---------------")
print(df.loc[df.A>10, 'B':'C']); print("---------------")

     A   B   C   D
r1  10  11  12  13
r2  14  15  16  17
r3  18  19  20  21
---------------
r2    15
r3    19
Name: B, dtype: int64
---------------
     B   C
r2  15  16
r3  19  20
---------------

In [12]:
import pandas as pd

data = {
    "2015": [9904312, 3448738, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

index = ["서울", "부산", "인천", "대구"]
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df = pd.DataFrame(data, index=index, columns=columns)

df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df["2005-2010 증가율"] = ((df["2010"] - df["2005"]) / df["2005"] * 100).round(2)
del df["지역"]

print(df)

       2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
서울  9904312  9631482  9762546  9853972           2.83          -1.34
부산  3448738  3393191  3512547  3655437           1.63          -3.40
인천  2890451  2632035  2517680  2466338           9.82           4.54
대구  2466052  2431774  2456016  2473990           1.41          -0.99

In [14]:
import pandas as pd

df = pd.read_csv('weather.csv')
print(df)
print('---------------')

              일시  평균기온  최대풍속  평균풍속
0     2010-08-01  28.7   8.3   3.4
1     2010-08-02  25.2   8.7   3.8
2     2010-08-03  22.1   6.3   2.9
3     2010-08-04  25.3   6.6   4.2
4     2010-08-05  27.2   9.1   5.6
...          ...   ...   ...   ...
3648  2020-07-27  22.1   4.2   1.7
3649  2020-07-28  21.9   4.5   1.6
3650  2020-07-29  21.6   3.2   1.0
3651  2020-07-30  22.9   9.7   2.4
3652  2020-07-31  25.7   4.8   2.5

[3653 rows x 4 columns]
---------------

In [15]:
import pandas as pd

df = pd.read_csv('weather.csv')
print(df.head()); print('-----------')
print(df.tail()); print('-----------')
print(df.describe())

           일시  평균기온  최대풍속  평균풍속
0  2010-08-01  28.7   8.3   3.4
1  2010-08-02  25.2   8.7   3.8
2  2010-08-03  22.1   6.3   2.9
3  2010-08-04  25.3   6.6   4.2
4  2010-08-05  27.2   9.1   5.6
-----------
              일시  평균기온  최대풍속  평균풍속
3648  2020-07-27  22.1   4.2   1.7
3649  2020-07-28  21.9   4.5   1.6
3650  2020-07-29  21.6   3.2   1.0
3651  2020-07-30  22.9   9.7   2.4
3652  2020-07-31  25.7   4.8   2.5
-----------
              평균기온         최대풍속         평균풍속
count  3653.000000  3649.000000  3647.000000
mean     12.942102     7.911099     3.936441
std       8.538507     3.029862     1.888473
min      -9.000000     2.000000     0.200000
25%       5.400000     5.700000     2.500000
50%      13.800000     7.600000     3.600000
75%      20.100000     9.700000     5.000000
max      31.300000    26.000000    14.900000

In [17]:
import pandas as pd

df = pd.read_csv('weather.csv', encoding='utf8',index_col=0)
print(df.count())
print('------------')
print(df.mean())
print('------------')
print(df['평균기온'].mean())
print('------------')
print(df.loc[df['평균풍속'] >= 4, '평균기온'].mean())

평균기온    3653
최대풍속    3649
평균풍속    3647
dtype: int64
------------
평균기온    12.942102
최대풍속     7.911099
평균풍속     3.936441
dtype: float64
------------
12.942102381604162
------------
12.30135922330097